@font-face {
    font-family: "noodle";
    src: url('../media/fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
    font-family: "noodle_oblique";
    src: url('../media/fonts/big_noodle_titling_oblique.ttf') format('truetype');
}