.app{
    min-height: 100vh;
    background: #99a4b6;
    background: radial-gradient(circle farthest-corner at center center, #99a4b6 0%, #707e98 100%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #99a4b6 0%, #707e98 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #99a4b6 0%, #707e98 100%);
    
}