.header_container{
    width: 100%;
    height: 8rem;
    padding: 0 40px;
    @include flex($justify: space-between);
    
    img{
        height: 3.6rem;
    }

    .player{
        background: #fffffffe;
        height: 5rem;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: .1s ease;

        .avatar{
            width: 4.4rem;
            height: 100%;
            border-radius: 4px 0 0 4px;
            background: #415;

            img{
                height: 100%;
            }
        }
        .name{
            color: $black;
            font-size: 1.6rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 0 30px;
        }

        &:hover{
            transform: scale(1.08);
        }
    }
}

// .note{
//     animation: notebook 6s ease infinite;
// }
// @mixin animation-mixin($name) {
//     @keyframes #{$name} {
//       0% {transform: translate(5px, -15px);}
//       50% {transform: translate(0,0);}
//       100% {transform: translate(5px, -15px);}
//     }
//   }
  
// @include animation-mixin(notebook);