@use '../settings/' as *;

.navMenu{

    .navMenu_container{
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        pointer-events: none;
        @include flex($justify: flex-start);

        .nav_ul{
            width: auto;
            margin-left: 40px;
            pointer-events: all;

            li{
                margin-bottom: 12px;
                list-style: none;
                transition: .1s ease;
                cursor: url('../media/cursors/ow-pointer.cur'), pointer;

                &:hover{
                    transform: translate(30px, 0);
                }

                p{
                    color: #fff;
                    font-size: 4em;
                    font-family: "noodle";
                    letter-spacing: 4px;
                }
            }
        }
    }

    .navMenu_modal{
        width: 100%;
        background: #000000dd;
        height: 100vh;
        position: absolute;
        top: 0;
        @include flex;
        z-index: 100;

        .arrow-icons{
            width: 70px;
            height: 70px;
            color: $orange;
            transition: .2s ease;
            z-index: 1000;
            &:hover{
                color: $white;
            }
        }
        .icon-left{
            @include position($left: 0);
        }

        .icon-right{
            @include position($right: 0);
        }

        // .navMenu_modal-window{
        //     width: 90%;
        //     height: 90vh;
        //     background: $white;
        //     @include flex;
        //     animation: openModal 1s ease;
        // }
    }

    @include breakpoint-down(large){
        .navMenu_container{
            .nav_ul{
                margin-left: 10px;
                li{
                    p{
                        font-size: 3em;
                    }
                }
            }
        }
        .navMenu_modal{
            .arrow-icons{
                width: 60px;
                height: 60px;
            }
        }
    }
    @include breakpoint-down(medium){
        .navMenu_modal{
            .arrow-icons{
                bottom: 20px;
                height: 50px;
            }
            .icon-left{
                left: calc(50% - 120px);
            }
    
            .icon-right{
                right: calc(50% - 120px);
            }
        }
    }

    @include breakpoint-down(small){
        .navMenu_container{
            position: absolute;
            top: 0;
            height: 100vh;
            width: 100%;
            @include flex($justify: flex-start);
            .nav_ul{
                width: 100%;
                margin: 0;
                li{
                    margin-bottom: 20px;
                    &:hover{
                        transform: translate(0) scale(1.1);
                    }
                    p{
                        font-size: 4rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}