.navMenu{

    .navMenu_container{
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        pointer-events: none;
        @include flex($justify: flex-start);

        .nav_ul{
            width: auto;
            margin-left: 40px;
            pointer-events: all;

            li{
                margin-bottom: 12px;
                list-style: none;
                transition: .1s ease;
                cursor: url('../media/cursors/ow-pointer.cur'), pointer;

                &:hover{
                    transform: translate(30px, 0);
                }

                p{
                    color: #fff;
                    font-size: 4em;
                    font-family: "noodle";
                    letter-spacing: 4px;
                }
            }
        }
    }

    .navMenu_modal{
        width: 100%;
        background: #000000dd;
        height: 100vh;
        position: absolute;
        top: 0;
        @include flex;
        z-index: 100;

        .icon-left{
            @include position($left: 0);
            color: $white;
        }

        .icon-right{
            @include position($right: 0);
            color: $white;
        }

        .icon-close{
            @include position($top: 0,$right: 0);
            color: $white;
        }

        .navMenu_modal-window{
            width: 90%;
            height: 90vh;
            background: $white;
            @include flex;
            animation: openModal 1s ease;
        }
    }
}