// Normalize
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Variables
$back1: #dae5ee;
$back2: #8b94a9;
$back3: #cae6fc;
$dark-blue: #3b486d;
$light-blue: #7c9dc5;
$dark-blue_t: #121624d4;
$white: #f9f9f9;
$black: #030303;
$cian: #05a0f9;
$light-red: #dd4068;
$lighter-red: #ff90ab;
$green: #00bb00;
$light-green: #67ff67;
$violet: #c142e9;
$light-violet: #e694ff;
$dark-yellow: #e3b200;
$light-yellow: #fae69d;
$orange: #e26019;

// Mixins
@mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin position($position: absolute, $top: auto, $btm: auto, $left: auto, $right: auto){
    position: $position;
    top: $top;
    bottom: $btm;
    left: $left;
    right: $right;
}

@mixin modal($background: $white, $color: $black){
    width: 80%;
    height: 90vh;
    background: $background;
    color: $color;
    overflow: hidden;
    animation: openModal .6s ease-in-out;
}

@mixin closeButton{
    @include position($btm: 0, $right: 80px);
    font-size: 2em;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 150px;
    cursor: url('../media/cursors/ow-pointer.cur'), pointer;
    border: none;
    outline: none;
    background: $orange;
    color: $white;
    font-family: "noodle", sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    
    &:hover{
        border: 2px solid $white;
        transform: scale(1.05);
    }
}

//Keyframes
@keyframes openModal{
    0%{
        transform: rotateX(0) rotateY(10deg) rotateZ(0deg);
        opacity: .2;
    }
}

@font-face {
    font-family: "noodle";
    src: url('../media/fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
    font-family: "noodle_oblique";
    src: url('../media/fonts/big_noodle_titling_oblique.ttf') format('truetype');
}