.about_container{
    @include modal();
    position: relative;

    .header{
        width: 100%;
        height: 20%;
        background: $dark-blue;
        color: $white;
        @include flex($justify: flex-end);
        @include position($position: relative);
        padding-right: 20px;
        overflow: hidden;
        h1{
            font-size: 2.8em;
            font-family: "noodle_oblique", sans-serif;
            letter-spacing: 3px;
            z-index: 100;
            color: $white;
        }
        &::after{
            content: '';
            width: 700px;
            height: 1000px;
            transform: rotate(45deg) translateX(100px);
            background: #ff57f18b;
            @include position($right: 0);
        }
    }
    .main{
        background: linear-gradient(45deg, $back2 0%, $back1 90%);
        width: 100%;
        height: 100%;
        padding-left: 40%;

        p{
            padding-top: 40px;
            padding-right: 40px;
            font-size: 1.9em;
            font-family: system-ui, -apple-system;
            font-weight: bold;
            text-align: justify;
        }
    }
    .aside{
        height: 90%;
        pointer-events: none;
        @include flex($align: flex-end, $justify: flex-start);
        @include position($btm: 0px);

        .profilePicture{
            height: 100%;
        }
    }
}