.contact_container{
    @include modal;
    background: $dark-blue;
    background: radial-gradient(circle farthest-corner at center center, $back1 0%, $light-blue 60%);
    @include position($position: relative);
    @include flex($direction: column);
    z-index: -10;

    .title{
        width: 100%;

        h1{
            margin: 20px 0 0 40px;
            font-size: 6em;
            font-family: "noodle_oblique", sans-serif;
            font-weight: normal;
            letter-spacing: 3px;
            color: $white;
        }
    }
    .main{
        width: 90%;
        height: calc(100% - 260px);
        padding-top: 20px;
        background: green;

        .contact_form{
            background: red;
            width: 100%;
            @include flex($direction: column);

            .inputs{
                background: pink;
                @include flex($direction: column);
                width: 50%;

                .input{
                    width: 100%;
                    height: 5em;
                }
            }
            input[type=submit]{
                
            }
        }
    }
    button{
        @include closeButton();
    }
}