@use '../../settings/' as *;

.contact_container{
    @include modal;
    background: $dark-blue;
    background: radial-gradient(circle farthest-corner at center center, $back1 0%, $light-blue 60%);
    @include position($position: relative);
    @include flex($direction: column);
    z-index: -10;
    .title{
        width: 100%;
        h1{
            margin: 20px 0 0 40px;
            font-size: 6em;
            font-family: "noodle_oblique", sans-serif;
            font-weight: normal;
            letter-spacing: 3px;
            color: $white;
        }
    }
    .main{
        width: calc(100% - 80px);
        max-width: 1200px;
        height: 550px;
        @include flex($justify: space-between, $align: flex-start);
        border-top: 4px solid #00000033;
        margin-top: 50px;
        padding-top: 30px;
        .contact_form{
            @include flex($direction: column);
            width: 500px;
            .inputs{
                @include flex($direction: column);
                width: 100%;
                .input_container{
                    width: 100%;                    
                    height: 4em;
                    @include flex($justify: flex-end);
                    margin-bottom: 20px;
                    &:last-child{
                        margin-top: 45px;
                        margin-bottom: 60px;
                    }
                    .input_icon{
                        background: $dark-blue;
                        width: 4em;
                        height: 100%;
                        border-radius: 5px 0 0 5px;
                        @include flex();
                        @include position($position: relative);
                        &::after{
                            content: '';
                            @include position();
                            width: 70%;
                            height: 70%;
                            border: 6px solid $back2;
                            border-radius: 50%;
                            opacity: .6;
                        }
                        .icon{
                            color: $white;
                            width: 50%;
                            height: 50%;
                        }
                    }
                    .input{
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;
                        text-align: start;
                        color: $dark-blue;
                        font-family: "noodle", sans-serif;
                        letter-spacing: 2px;
                        font-size: 2em;
                        padding-left: 10px;
                        border-radius: 0 5px 5px 0;
                    }
                    .input::placeholder{
                        color: $back2;
                    }
                    .textInput{
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 150px;
                        text-align: start;
                        color: $dark-blue;
                        font-family: sans-serif;
                        font-size: 1.4em;
                        padding-left: 10px;
                        padding-top: 10px;
                        resize: none;
                        border-radius: 5px;
                    }
                    .textInput::placeholder{
                        font-family: "noodle_oblique", sans-serif;
                        color: $back2;
                        font-size: 1.4em;
                        letter-spacing: 1px;
                    }
                }
            }
            input[type=submit]{
                background: none;
                padding: 5px 10px;
                border: 4px solid #FFFFFF66;
                outline: none;
                font-size: 2em;
                font-family: "noodle", sans-serif;
                letter-spacing: 3px;
                color: $white;
                font-weight: bold;
                border-radius: 5px;
                transition: .2s ease;
                cursor: url('../media/cursors/ow-pointer.cur'), pointer;
            }
            input[type=submit]:hover{
                background: $white;
                color: $dark-blue;
            }
        }
        .contact_links{
            width: 500px;
            a{
                text-decoration: none;
            }
            .link-container{
                width: 100%;
                height: 4em;
                border-radius: 5px;
                background: $dark-blue_t;
                margin-bottom: 20px;
                padding: 0 10px 0 20px;
                cursor: url('../media/cursors/ow-pointer.cur'), pointer;
                @include flex($justify: space-between);
                h2{
                    font-size: 2.2em;
                    font-family: "noodle", sans-serif;
                    color: $white;
                    letter-spacing: 4px;
                }
                .link-icon{
                    color: $white;
                    width: 4em;
                    height: 100%;
                    @include flex();
                }
                &:hover{
                    background: $white;
                    border: 4px solid $dark-blue;
                    h2{
                        color: $dark-blue;
                    }
                    .link-icon{
                        color: $dark-blue;
                    }
                }
            }
        }
    }
    .closeModal{
        @include closeButton();
    }

    @include breakpoint-down(large){
        .title{
            h1{
                margin: 10px 10px;
                font-size: 5em;
            }
        }
        .main{
            width: calc(100% - 20px);
            height: auto;
            .contact_form{
                width: 400px;
                .inputs{
                    .input_container{
                        height: 3em;
                        margin-bottom: 10px;
                        &:last-child{
                            margin-top: 50px;
                            margin-bottom: 65px;
                        }
                        .input_icon{
                            width: 3em;
                            &::after{
                                width: 60%;
                                height: 60%;
                                border: 4px solid $back2;
                            }
                        }
                        .input{
                            letter-spacing: 1px;
                            font-size: 1.8em;
                            padding-left: 10px;
                        }
                        .textInput{
                            font-size: 1.2em;
                        }
                        .textInput::placeholder{
                            font-size: 1.2em;
                        }
                    }
                }
            }
            .contact_links{
                width: 300px;
                .link-container{
                    height: 3em;
                    h2{
                        font-size: 1.8em;
                        letter-spacing: 3px;
                    }
                    .link-icon{
                        width: 3em;
                    }
                }
            }
        }
    }

    @include breakpoint-down(medium){
        .title{
            margin-bottom: 40px;
            h1{
                margin: 10px 0 0 10px;
                font-size: 3.5em;
            }
        }
        .main{
            .contact_form{
                width: 350px;
                .inputs{
                    .input_container{
                        height: 3em;
                        margin-bottom: 10px;
                        &:last-child{
                            margin-top: 50px;
                            margin-bottom: 65px;
                        }
                        .input_icon{
                            width: 3em;
                            &::after{
                                width: 60%;
                                height: 60%;
                                border: 4px solid $back2;
                            }
                        }
                        .input{
                            letter-spacing: 1px;
                            font-size: 1.8em;
                            padding-left: 10px;
                        }
                        .textInput{
                            font-size: 1.2em;
                        }
                        .textInput::placeholder{
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }

    @include breakpoint-down(small){
        justify-content: flex-start;
        .title{
            margin: 0;
            margin-bottom: 0;
            margin-top: 40px;
            h1{
                margin: 10px 0 0 10px;
                font-size: 3.5em;
            }
        }
        .main{
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
            margin: 0;
            border-top: none;
            
            .contact_form{
                width: 95%;
                border-top: 4px solid #00000033;
                padding-top: 10px;
                .inputs{
                    .input_container{
                        height: 2.5em;
                        margin-bottom: 5px;
                        &:last-child{
                            margin-top: 30px;
                            margin-bottom: 35px;
                        }
                        .input_icon{
                            width: 2.5em;
                            &::after{
                                width: 60%;
                                height: 60%;
                                border: 4px solid $back2;
                            }
                        }
                        .input{
                            letter-spacing: 1px;
                            font-size: 1.2em;
                            padding-left: 10px;
                        }
                        .textInput{
                            margin-top: 0;
                            font-size: 1em;
                            height: 100px;
                        }
                        .textInput::placeholder{
                            font-size: 1em;
                        }
                    }
                }
                input[type=submit]{
                    font-size: 1.3em;
                    font-weight: bold;
                    border-radius: 5px;
                    padding: 4px 8px;
                    border: 2px solid #FFFFFF66;
                }
            }
            .contact_links{
                width: 95%;
                margin-bottom: 5px;
                .link-container{
                    height: 2.5em;
                    margin: 0;
                    margin-bottom: 5px;
                    h2{
                        font-size: 1.5em;
                        letter-spacing: 3px;
                    }
                    .link-icon{
                        width: 2.5em;
                        font-size: .6em;
                    }
                }
            }
        }
        .btm-container{
            @include position($top: 0);
            width: 100%;
            height: 40px;
            background: $dark-blue_t;
        }
    }
}