.projects_container{
    @include modal;
    @include position($position: relative);
    background: linear-gradient(1600deg, $dark-blue 0%, $back1 100%);

    .title{
        width: 100%;

        h1{
            margin: 20px 0 0 40px;
            font-size: 6em;
            font-family: "noodle_oblique", sans-serif;
            font-weight: normal;
            letter-spacing: 3px;
            color: $white;
        }
    }
    .main{
        width: 100%;
        height: 70%;
        @include flex();
        gap: 40px;

        .project{
            background: linear-gradient(160deg, $dark-yellow 20%, $light-yellow 100%);
            width: 350px;
            height: 500px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 2px 2px 4px $back2;
            transition: .2s ease;
            @include flex($direction: column);
            
            .image{
                width: 100%;
                height: 55%;
                transition: .2s ease;
                @include flex($direction: column, $justify: flex-start);
                @include position($position: relative);
                .videoContainer{
                    width: 100%;
                    height: 200px;
                    margin-top: 20px;
                    background: #000;
                    video{
                        height: 100%;
                    }
                    img{
                        height: 100%;
                    }
                }
                .videoActive{
                    opacity: .2;
                }
                .iconContainer{
                    @include position($btm: 0);
                    @include flex();
                    gap: 20px;
                    width: 100%;
                    height: calc(100% - 220px);

                    .icon{
                        transition: .2s ease;
                        padding: 2px;
                        background: $back1;
                        border-radius: 4px;
                        box-shadow: 1px 1px 2px $black;
                        &:hover{
                            box-shadow: 1px 1px 1px $black;
                        }
                    }
                }
            }
            .text{
                width: 100%;
                height: 45%;
                background: $back1;
                color: $black;
                transition: .3s ease-in-out;
                @include flex($direction: column, $justify: flex-start);

                h2{
                    font-family: sans-serif;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
                p{
                    width: 100%;
                    font-size: 1.3em;
                    padding: 0 10px;
                    text-align: start;
                    font-family: sans-serif;
                    margin-bottom: 12px;
                }
                p:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .project:focus{
            outline: $white 3px solid;
            transform: scale(1.1);
            .text{
                background: none;
            }
        }
    }
    button{
        @include closeButton();
    }
}